<head>
    <title>Todo List</title>
    <link href='http://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>`
     <link type="text/css" rel="stylesheet" href="./css/style.css"> 
       
</head>

<body>
    <div id="wrapper">
        <form method='post' action='todos'>
            <fieldset>
                <legend><h1>Todo List</h1></legend>
                <input type='text' name='name' placeholder="Item To Do">
                <button type='submit' value='add item'>Do It!</button>
                <br/>
                <div id="completed">
                <a href="/todos/removecompleted">Clear Completed</a>
                </div>
                <div id="emptylist">
                <a href="/todos/removeall">Clear All</a>
                </div>
                <ul>
                </ul>
            </fieldset>
        </form>
    </div>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script>
        
        var clicked = function(){
            var thisParent = $(this).parent();
            if (thisParent.hasClass("done"))
                markitemundone(thisParent);
            else 
                markitemdone(thisParent);
            }
        var markitemdone = function(thisItem){
            thisItem.addClass("done");
            $.post("todos/"+ thisItem.data("uuid"), {
                "isDone":true})
        }
        
        var markitemundone = function(thisItem){
            thisItem.removeClass("done");
            $.post("todos/"+ thisItem.data("uuid"), {
                "isDone":false})
        }
        
        $(function(){
            $.getJSON("/todos", function(data){ 
                for ( var i=0; i<data.length; i++){
                    var item =data[i];
                    var new_li_element= $("<li><input type='checkbox'/>"+item.name+"</li>");
                    new_li_element.data("uuid", item.id);
                    $("ul").append(new_li_element);
                    if (item.isDone=="true"){
                        new_li_element.find("input:checkbox").attr("checked",true);
                        new_li_element.addClass("done");}
                } 
                $(":checkbox").on("click",clicked);
                
        
        })})
    </script>

</body>