<head>
    <title>Todo List</title>
    <style>
        ul{list-style-type:none;}
    .done{
            text-decoration:line-through;}
    </style>
</head>

<body>
    <form method='post' action='todos'>
        item:
        <input type='text' name='item'>
        <input type='submit' value='add item'>

    </form>
    <ul>
    </ul>

    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script>
        
        var clicked = function(){
            var thisParent = $(this).parent();
            if (thisParent.hasClass("done"))
                thisParent.removeClass("done");
            else
                thisParent.addClass("done");
            }
        
        $(":checkbox").on("click",clicked);
        
        $(function(){
            $.getJSON("/todos", function(data){ 
                for ( var i=0; i<data.length; i++){
                    var item =data[i];
                    
                    var new_li_element= $("<li><input type='checkbox'/>"+item.name+"</li>");
                    $("ul").append(new_li_element);
                console.log(data);}                                           
        })})
    </script>

</body>