body {
            background: #87cefa;
            font-size: 2em;
        }
        
        #wrapper{
            width: 75%;
            margin: 20px auto;
        }
        
        h1 {
            font-family: 'Amatic SC', helvetica, sans-serif;
            font-weight: bold;
            font-size: 3em;
        }
        
        ul{
            list-style-type:none;
        }
        
        li{
            margin: 20px auto;
            text-indent: -50px;
        }
        
        .done{
            text-decoration:line-through;
            color: #bbb;
        }
        
        input[type=checkbox]{
            margin: 0px 20px;
            position: relative;
            top: -5px;
        }
        
        form    {
            margin: 50px auto 20px auto;
            padding: 50px 20px;
            width: 500px;
            background: #fff;
            position:relative;
            font-family: Helvetica, Verdana, sans-serif;
            font-size: 1em;
            line-height: 24px;
            color: #444;
            text-decoration: none;
            border: none;
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        }
        
        fieldset {
            border:none;
        }
        
        input[type=text] {
            margin-top:50px;
            margin-right: 0;
            height: 65px;
            width: 340px;
            font-size: 1em;
            border-color: #87cefa;
        }
        
        button {
            position:relative;
            background: #87cefa;
            margin-left: -11;
            display: inline-block;
            height: 65px;
            width: 105px;
            border: none;
            color: #fff;
            font-weight: bold;
            font-size: 1em;
        }
        
        button:hover {
            box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.3);
            top: 1px;
            left: 1px;
        }